.fleft{
	float:left;
}
.sidebar{
            margin: 5px 0;
            list-style: none;
        }.no-padding{
            padding: 0px!important;
        }
        .sidebar > li{
            padding: 10px 0px !important;
            list-style: none;
            border-bottom: 1px #ddd solid;
            text-align: center;
        }
        .sidebar > li > a{
            text-decoration: none;
            color: #000;
        }
        .sidebar > li.active{
            background-color:#e2e6e8;
            color: #fff;
            font-weight: bolder;
        }